* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* TODO: change class selector to tag selector for header */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(---main-text-color)
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}


/* TODO: replace tag selector div with nav */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


/* TODO: change tag selector to class selector rather than having "header div ul" or "header div ul li*/

.links {
    list-style-type: none;
}

.link {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* TODO: change class selector to tag selector main */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* Change to tag selector main .benefits, main .benefits h2, and main .benefits img, consolidate and comment out others*/

main .benefits {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

main img {
    max-height: 200px;
}


/* .online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
} */

main .benefits h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */


/* TODO: Change class selector ".benefits" to tag selector "aside" to match html */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/* TODO: Change class selector to aside .benefits, aside .benefits h3, and aside .benefits img, consolidate rules and comment out others */

aside .benefits {
    margin-bottom: 32px;
    color: #ffffff;
}


/* .benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
} */

aside .benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* .benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
} */

aside .benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* 
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */


/* Change class selector ".footer" to tag selector "footer" to link to html properly */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}